html
  color: $default-text
  font-family: $font
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html,
body
  height: 100%

*
  box-sizing: inherit

  &::before,
  &::after
    box-sizing: inherit

  &:focus
    outline: none

input
  &::-ms-clear,
  &::-ms-reveal
    width: 0
    height: 0

.link
  color: $default-link
  text-decoration: none
  border-bottom: solid 1px $default-link
  transition: border-color .2s ease-in-out

  &:hover
    border-bottom-color: transparent
