@font-face
  font-style: normal
  font-weight: 400
  font-family: "Roboto"
  src: url("~@/assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("~@/assets/fonts/Roboto/Roboto-Regular.woff") format("woff")

@font-face
  font-style: normal
  font-weight: 700
  font-family: "Roboto"
  src: url("~@/assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("~@/assets/fonts/Roboto/Roboto-Bold.woff") format("woff")
