body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
figure,
fieldset,
input,
textarea,
p,
blockquote,
th,
td
  margin: 0
  padding: 0

table
  border-collapse: collapse
  border-spacing: 0

abbr,
fieldset,
img
  border: none

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var
  font-style: normal
  font-weight: 400

ul li
  list-style: none

caption,
th
  text-align: left

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 400
  font-size: 100%

sup
  vertical-align: text-top

sub
  vertical-align: text-bottom

button,
input,
select,
textarea
  font-weight: inherit
  font-size: inherit
  font-family: inherit

legend
  color: $black

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section
  display: block

img
  max-width: 100%
  height: auto
