<template>
  <div :class="[
    $style.root,
    { [$style.triangle]: options.avatar }
  ]">
    <transition
      name="fade"
      appear
    >
      <div
        v-if="options.avatar"
        :class="$style.avatar"
      >
      </div>
    </transition>
    <div
      v-html="options.text"
      :class="$style.message"
    ></div>
  </div>
</template>

<script>
export default {
  name: 'bot-bubble',
  props: {
    options: {
      type: Object,
      required: true
    }
  }
}
</script>

<style module lang="sass">
.root
  position: relative
  align-self: flex-start
  display: inline-block
  padding: 10px
  max-width: 500px
  border-radius: 10px
  background: $bot-bubble-background

  &::before
    position: absolute
    bottom: 0
    left: -10px
    display: block
    border: solid 10px transparent
    border-bottom: solid 10px transparent
    transition: border-color 0.5s linear
    content: ""

.triangle
  &::before
    border-bottom-color: $bot-bubble-background

.message
  font-size: 12px
  line-height: 1.7

+bp-tablet
  .root
    padding: 20px

    &::before
      left: -15px
      border-width: 15px
      border-bottom-width: 15px

  .message
    font-size: 16px

  .avatar
    position: absolute
    bottom: -10px
    left: -90px
    width: 63px
    height: 63px
    border-radius: 50%
    border: solid 2px $avatar-placeholder
    background: $avatar-placeholder url("@/assets/img/snowbro.jpg") 50%/55px 55px
</style>
