<template>
  <div>
    <ul :class="$style.container">
      <li
        v-for="(answer, index) in options.answers"
        :key="index"
        :class="$style.listItem"
      >
        <button
          v-html="answer"
          :disabled="options.isDisabled"
          :class="[
            $style.button,
            { [$style.isDisabled]: index === lastSelectedIndex }
          ]"
          @click="clickHandler(index)"
        ></button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'bot-choice',
  data () {
    return {
      lastSelectedIndex: null
    }
  },
  props: {
    options: {
      type: Object,
      required: true
    }
  },
  methods: {
    clickHandler (index) {
      this.lastSelectedIndex = index
      this.options.isDisabled = true

      this.$emit('selected', index)
    }
  }
}
</script>

<style module lang="sass">
.container
  display: flex
  flex-wrap: wrap
  margin: -7.5px

.listItem
  margin: 7.5px
  flex-basis: calc(50% - 15px)

.button
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 45px
  border: none
  border-radius: 10px
  background-color: $button-background
  color: $button-text
  font-weight: 700
  font-size: 12px
  line-height: 1.5
  cursor: pointer
  transition: background-color 0.2s ease-in-out

  &::before,
  &::after
    flex: 1 0 auto
    content: ""

  &:disabled
    cursor: not-allowed

  &:hover
    background-color: $button-background-hover

.isDisabled
    background-color: $button-disabled
    cursor: not-allowed

    &:hover
      background-color: $button-disabled

+bp-tablet
  .container
    margin: -10px
    display: flex
    flex-wrap: wrap

  .listItem
    margin: 10px
    flex-basis: calc(50% - 20px)

  .button
    height: 55px
    font-size: 16px
</style>
