<template>
  <div :class="$style.root">
    <div :class="$style.container">
      <div :class="$style.avatar">
      </div>
      <div :class="$style.title">
        SnowBro <br>
        <span :class="$style.subtitle">
          bot
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'bot-header'
}
</script>

<style module lang="sass">
.root
  position: fixed
  top: 0
  left: 0
  z-index: 10
  margin: auto
  width: 100%
  height: 65px
  background-color: $page-background
  box-shadow: 0 4px 4px $header-shadow

.container
  margin: auto
  max-width: 500px
  padding: 0 20px
  height: 100%
  display: flex
  align-items: center

.avatar
  margin-right: 10px
  width: 53px
  height: 53px
  border-radius: 50%
  border: solid 2px $avatar-placeholder
  background: $avatar-placeholder url("@/assets/img/snowbro.jpg") 50%/55px 55px

.title,
.subtitle
  line-height: 1

.title
  font-weight: 700
  font-size: 18px
  color: $title-text

.subtitle
  font-size: 14px
  color: $subtitle-text

+bp-tablet
  .root
    display: none
</style>
