<template>
  <div>
    <button
      v-html="options.text"
      :class="[
        $style.button,
        { [$style.isDisabled]: isClicked }
      ]"
      :disabled="options.isDisabled"
      @click="clickHandler()"
    ></button>
  </div>
</template>

<script>
export default {
  name: 'button-action',
  props: {
    options: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      isClicked: false
    }
  },
  methods: {
    clickHandler () {
      this.isClicked = true
      this.options.isDisabled = true
      this.options.action()
    }
  }
}
</script>

<style module lang="sass">
.button
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 45px
  border: none
  border-radius: 10px
  background-color: $button-background
  color: $button-text
  font-weight: 700
  font-size: 12px
  line-height: 1.5
  cursor: pointer
  transition: background-color 0.2s ease-in-out

  &::before,
  &::after
    flex: 1 0 auto
    content: ""

  &:disabled
    cursor: not-allowed

  &:hover
    background-color: $button-background-hover

.isDisabled
    background-color: $button-disabled
    cursor: not-allowed

    &:hover
      background-color: $button-disabled

+bp-tablet
  .button
    height: 55px
    font-size: 16px
</style>
