<template>
  <div>
    <a
      target="_blank"
      v-html="options.text"
      :href="options.href"
      :class="$style.link"
    ></a>
  </div>
</template>

<script>
export default {
  name: 'button-link',
  props: {
    options: {
      type: Object,
      required: true
    }
  }
}
</script>

<style module lang="sass">
.link
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 45px
  border-radius: 10px
  background-color: $button-background
  color: $button-text
  font-weight: 700
  font-size: 12px
  line-height: 1.5
  text-decoration: none
  transition: background-color 0.2s ease-in-out

  &:hover
    background-color: $button-background-hover

+bp-tablet
  .link
    height: 55px
    font-size: 16px
</style>
