<template>
  <div :class="$style.root">
    <form
      @submit.prevent="$emit('submit', inputPhone)"
      :class="$style.form"
    >
      <input
        type="tel"
        placeholder="+7 твой номер телефона"
        v-mask="'+7 (###) ###-##-##'"
        v-model="inputPhone"
        :class="$style.input"
      >
      <button
        type="submit"
        :disabled="isDisabled"
        :class="$style.button"
      >Отправить</button>
    </form>
    <button
      type="button"
      @click="$emit('close')"
      :class="$style.close"
    >Закрыть</button>
  </div>
</template>

<script>
import settings from '../settings'

const { PHONE_NUMBER_LENGTH } = settings

export default {
  name: 'input-phone',
  data () {
    return {
      inputPhone: ''
    }
  },
  computed: {
    isDisabled () {
      return this.inputPhone.replace(/\D+/g, '').length !== PHONE_NUMBER_LENGTH
    }
  }
}
</script>

<style module lang="sass">
.form
  max-width: 250px

.root
  position: fixed
  top: 0
  left: 0
  z-index: 15
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  background: $page-background url("@/assets/img/input-phone-desktop.jpg") 50%/cover

.close
  position: fixed
  right: 15px
  top: 15px
  display: flex
  justify-content: center
  align-items: center
  width: 32px
  height: 32px
  border: none
  background-color: transparent
  padding: 0
  font-size: 0
  cursor: pointer

  &::before,
  &::after
    position: absolute
    left: 15px
    height: 33px
    width: 2px
    background-color: $button-close
    content: ""
    transition: background-color 0.2s ease-in-out

  &::before
    transform: rotate(45deg)

  &::after
    transform: rotate(-45deg)

  &:hover
    &::before,
    &::after
      background-color: $button-close-hover

.input,
.button
  width: 100%

.input
  margin-bottom: 15px
  padding: 0 20px
  height: 60px
  border: solid 4px transparent
  font-size: 18px
  background-color: $input-background
  color: $default-text

  &:focus
    border-color: $default-focus

  &::placeholder
    color: $input-placeholder-text

.button
  display: flex
  justify-content: center
  align-items: center
  padding-top: 2px
  width: 100%
  height: 40px
  border: none
  border-radius: 10px
  background-color: $button-input-background
  color: $button-text
  font-weight: 700
  font-size: 16px
  line-height: 1.5
  cursor: pointer
  transition: background-color 0.2s ease-in-out

  &::before,
  &::after
    flex: 1 0 auto
    content: ""

  &:disabled
    background-color: $button-disabled
    cursor: not-allowed

    &:hover
      background-color: $button-disabled

  &:hover
    background-color: $button-input-background-hover

+bp-tablet
  .form
    max-width: 320px

  .close
    right: 30px
    top: 30px

  .input
    margin-bottom: 20px
    height: 70px
    font-size: 18px

  .button
    padding-top: 4px
    height: 55px
    font-size: 18px
</style>
