<template>
  <div :class="[
      $style.root,
      { [$style.triangle]: options.userTriangle }
  ]">
    <div
      v-html="options.text"
      :class="$style.message"
    ></div>
  </div>
</template>

<script>
export default {
  name: 'user-bubble',
  props: {
    options: {
      type: Object,
      required: true
    }
  }
}
</script>

<style module lang="sass">
.root
  position: relative
  align-self: flex-end
  display: inline-block
  padding: 10px
  max-width: 500px
  border-radius: 10px
  background: $user-bubble-background

  &::before
    position: absolute
    bottom: 0
    right: -10px
    display: block
    border: solid 10px transparent
    border-bottom: solid 10px transparent
    transition: border-color 0.5s linear
    content: ""

.triangle
  &::before
    border-bottom-color: $user-bubble-background

.message
  font-size: 12px
  line-height: 1.7
  text-align: right

+bp-tablet
  .root
    padding: 20px

    &::before
      right: -15px
      border-width: 15px
      border-bottom-width: 15px

  .message
    font-size: 16px
</style>
