<template>
  <div
    id="app"
    :class="$style.background"
  >
    <transition
      name="fade"
      appear
    >
      <input-phone
        v-if="askPhoneNumber"
        @submit="submitPhoneNumber"
        @close="askPhoneNumber=false"
      />
    </transition>
    <bot-header />
    <ul :class="$style.container">
      <li
        v-for="(component, index) in queue"
        :key="index"
        :class="$style.listItem"
      >
        <transition
          name="fade"
          appear
        >
          <bot-bubble
            v-if="is(component.type, 'bot-bubble')"
            :options="component"
          />
          <button-link
            v-if="is(component.type, 'button-link')"
            :options="component"
          />
          <button-action
            v-if="is(component.type, 'button-action')"
            :options="component"
          />
          <button-action-special
            v-if="is(component.type, 'button-action-special')"
            :options="component"
          />
          <user-bubble
            v-if="is(component.type, 'user-bubble')"
            :options="component"
          />
          <bot-choice
            v-if="is(component.type, 'bot-choice')"
            :options="component"
            @selected="submitAnswer"
          />
        </transition>
      </li>
    </ul>
  </div>
</template>

<script>
import './styles/common.sass'
import addComponent from './add-component'
import getAnimationTime from './animation-time'
import settings from './settings'
import BotHeader from './components/BotHeader'
import BotBubble from './components/BotBubble'
import ButtonLink from './components/ButtonLink'
import ButtonAction from './components/ButtonAction'
import ButtonActionSpecial from './components/ButtonActionSpecial'
import InputPhone from './components/InputPhone'
import UserBubble from './components/UserBubble'
import BotChoice from './components/BotChoice'
import axios from 'axios'

const {
  WIFI_LAW_LINK,
  TELEGRAM_LINK,
  BASE_API_URL,
  REQUEST_TIMEOUT
} = settings

const request = axios.create({
  baseURL: BASE_API_URL,
  method: 'post',
  timeout: REQUEST_TIMEOUT
})

export default {
  name: 'app',
  components: {
    BotHeader,
    BotBubble,
    ButtonLink,
    ButtonAction,
    ButtonActionSpecial,
    InputPhone,
    UserBubble,
    BotChoice
  },
  data () {
    return {
      askPhoneNumber: false,
      phoneNumber: '',
      id: '',
      phrases: [],
      queue: []
    }
  },
  methods: {
    is (componentType, type) {
      return componentType === type
    },
    clickLast () {
      let components = []

      this.queue.forEach(component => {
        if (component.hasOwnProperty('isClicked')) {
          components.push(component)
        }
      })

      if (components.length > 0) {
        components[components.length - 1].isClicked = true
      }
    },
    disableAll () {
      this.queue.forEach(component => {
        if (component.hasOwnProperty('isDisabled')) {
          component.isDisabled = true
        }
      })
    },
    async showOptions () {
      const context = this

      await addComponent({
        queue: this.queue,
        ms: getAnimationTime(),
        component: {
          type: 'button-link',
          text: 'Получить через Telegram',
          href: TELEGRAM_LINK
        }
      })

      await addComponent({
        queue: this.queue,
        ms: getAnimationTime(),
        component: {
          type: 'button-action-special',
          text: 'Получить тут',
          isClicked: false,
          isDisabled: false,
          action () {
            context.askPhoneNumber = true
          }
        }
      })
    },
    async handleErrors () {
      await addComponent({
        queue: this.queue,
        ms: getAnimationTime(),
        component: {
          type: 'bot-bubble',
          text: 'Что-то пошло не так. 🤔 Попробуй ещё раз...'
        }
      })

      this.showOptions()
    },
    async tryAgain () {
      await addComponent({
        queue: this.queue,
        ms: getAnimationTime(),
        component: {
          type: 'bot-bubble',
          text: 'Пароль не верный. 😅 Попробуй ещё раз...'
        }
      })

      this.showOptions()
    },
    async checkPhoneNumber () {
      const context = this

      try {
        const response = await request({
          data: {
            data: {
              type: 'HotspotAuth',
              attributes: {
                phone: this.phoneNumber
              }
            }
          }
        })

        if (response.status !== 200 || response.data.hasOwnProperty('errors')) {
          this.handleErrors()
          return
        }

        const { data } = response.data

        this.id = data.attributes.id
        this.phrases = data.attributes.phrases

        await addComponent({
          queue: this.queue,
          ms: getAnimationTime(),
          component: {
            type: 'bot-bubble',
            text: 'Отправляю SMS...'
          }
        })

        await addComponent({
          queue: this.queue,
          ms: getAnimationTime(),
          component: {
            type: 'bot-bubble',
            text: 'Что тебе пришло в SMS?'
          }
        })

        await addComponent({
          queue: this.queue,
          ms: getAnimationTime(),
          component: {
            type: 'bot-choice',
            answers: this.phrases,
            isDisabled: false
          }
        })

        await addComponent({
          queue: this.queue,
          ms: getAnimationTime(),
          component: {
            type: 'button-action',
            text: 'Прислать SMS ещё раз',
            isDisabled: false,
            action () {
              context.checkPhoneNumber()
              context.disableAll()
            }
          }
        })

        await addComponent({
          queue: this.queue,
          ms: getAnimationTime(),
          component: {
            type: 'button-action-special',
            text: 'Прислать SMS на другой номер',
            isClicked: false,
            isDisabled: false,
            action () {
              context.askPhoneNumber = true
            }
          }
        })
      } catch (err) {
        // console.error(err)
        this.handleErrors()
      }
    },
    async submitPhoneNumber (phoneNumber) {
      this.askPhoneNumber = false
      this.phoneNumber = `+${phoneNumber.replace(/\D+/g, '')}`

      await addComponent({
        queue: this.queue,
        ms: getAnimationTime(),
        component: {
          type: 'user-bubble',
          text: phoneNumber
        }
      })

      this.checkPhoneNumber(phoneNumber)
      this.clickLast()
      this.disableAll()
    },
    async submitAnswer (index) {
      try {
        const response = await request({
          url: 'check',
          data: {
            data: {
              type: 'HotspotAuth',
              attributes: {
                id: this.id,
                phrase: this.phrases[index]
              }
            }
          }
        })

        if (response.status !== 200 || response.data.hasOwnProperty('errors')) {
          this.handleErrors()
          return
        }

        const { data } = response.data

        if (!data.attributes.success) {
          this.tryAgain()
          return
        }

        this.disableAll()

        await addComponent({
          queue: this.queue,
          ms: getAnimationTime(),
          component: {
            type: 'bot-bubble',
            text: data.attributes.phrase
          }
        })

        await addComponent({
          queue: this.queue,
          ms: getAnimationTime(),
          component: {
            type: 'bot-bubble',
            text:
              'Утром катка🏂! Ееее, правильно! Приятного сёрфинга брооооо! А если есть минутка, то поставь Telegram и посмотри что я могу, потому что cо мной твой отдых заиграет новыми красками!'
          }
        })
      } catch (err) {
        // console.error(err)
        this.handleErrors()
      }
    }
  },
  async created () {
    await addComponent({
      queue: this.queue,
      component: {
        type: 'bot-bubble',
        text:
          'Привет! Я Telegram‑бот SnowBro. Самый полезный бот Красной Поляны между прочим 😏'
      }
    })

    await addComponent({
      queue: this.queue,
      ms: getAnimationTime(),
      component: {
        type: 'bot-bubble',
        text:
          'И вот тебе сразу полезное&nbsp;– в&nbsp;этой кафешке крутые корн‑доги! 🌭🤤'
      }
    })

    await addComponent({
      queue: this.queue,
      ms: getAnimationTime(),
      component: {
        type: 'bot-bubble',
        text: `Но тебе же инет нужен?! По закону <a class="link" href="${WIFI_LAW_LINK}">о&nbspдоступе к&nbsp;публичным Wi‑Fi сетям</a> я обязан запросить у&nbsp;тебя номер телефона 🤓`
      }
    })

    this.showOptions()
  }
}
</script>

<style module lang="sass">
body
  background: $page-background url("@/assets/img/background-desktop.jpg") 50%/cover
  background-attachment: fixed

.listItem
  position: relative
  z-index: 5
  margin-bottom: 15px
  display: flex
  flex-direction: column

.background
  padding-top: 80px
  padding-bottom: 20px
  height: 100%

.container
    margin: auto
    padding: 0 20px
    max-width: 500px

+bp-tablet
  .container
    padding: 0

  .background
    padding-top: 20px

  .listItem
    margin-bottom: 20px
</style>
